// メディアクエリ設定
$breakpoints: (
  "sm": "screen and (min-width: 576px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 992px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// sectionTitle
.sectionTitle {
  padding: 20px 60px;
  width: 20%;
  .sectionTitle__text {
    font-size: 4rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: normal; /* 文字の太さ調整 */
    border-bottom: solid 4px rgba(76, 175, 80, 0.6); /* 線指定 */
    border-radius: 0px 0px 160px 180px/0px 0px 20px 0px; /* 角丸指定 */
  }
}
