.u-hidden {
  display: none !important;
}

@media screen and (min-width: 796px) {
  /* pc */
  .u-hidden-pc {
    display: none !important;
  }
}

@media screen and (max-width: 795px) {
  /* sp */
  .u-hidden-sp {
    display: none !important;
  }
}

.u-mb-10 {
  margin-bottom: 10px !important;
}

// Slcikのカスタマイズ
.slick-next,
.slick-prev {
  &:before {
    color: #000000;
    font-size: 30px;
  }
}
