// メディアクエリ設定
$breakpoints: (
  "sm": "screen and (min-width: 576px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 992px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// About
.about__slider {
  margin: 0 auto;
  padding: 30px;
  width: 90%;
  display: flex;
  .about__info {
    padding: 20px;
    .about__imageBox {
      height: 300px;
      .about__imageBox-img {
        border-radius: 25px;
      }
    }
    .about__info--title,
    .about__info--text {
      margin-top: 20px;
    }
    .about__info--title {
      padding-bottom: 5px;
      display: inline-block;
      position: relative;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        height: 5px;
        width: 100%;
        background-color: rgb(255, 255, 139, 0.5);
      }
    }
  }
}
